<!DOCTYPE html>
<html>
<head>
    <title>Add File View</title>
</head>
<body>
    <h1>Add a File</h1>
    <form method="post">
        <label for="userInput">Enter a string:</label>
        <input type="text" id="userInput" name="userInput" />
        <br />
        <input type="submit" value="Add File" />
    </form>
</body>
</html>