<!DOCTYPE html>
<html>
<head>
    <title>Add HomeWork View</title>
</head>
<body>
    <h1>Add a HomeWork</h1>
    <form method="post">
        <label for="userInput">Enter a string:</label>
        <input type="text" id="userInput" name="userInput" />
        <br />
        <input type="submit" value="Add HomeWork" />
    </form>
</body>
</html>