@model string

<!DOCTYPE html>
<html>
<head>
    <title>@Model</title>
</head>
<body>
    <h1>@Model</h1>
    @if (ViewBag.Permissions == 1)
    {
        <div class="col-md-4 mb-3">
            <a class="btn btn-primary btn-lg" href="@Url.Action("AddFile", "HomeWork")">Add file</a>
    </div>}
    
</body>
</html>