
@{
    ViewData["Title"] = "_Admin";
}

<div class="container border text-center pb-5 mt-5">
    <h1 class="my-4">Admin</h1>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Schedule")">Schedule</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="btn btn-primary btn-lg" href="@Url.Action("Register", "User")">Register a new user</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Class")">Classes</a>
        </div>
    </div>
</div>

