.Gradebook {
    width: 100%;
    border-collapse: collapse;
}

    .Gradebook th, .Gradebook td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        width: 40px;
        height: 40px;
        overflow: hidden;
    }

    .Gradebook th {
        border:none;
        background-color: rgba(21,140,186,1);
        color: white;
        height:60px;
    }

    .Gradebook tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .Gradebook tr:hover {
        background-color: #ddd;
    }

    .Gradebook th:first-child, .Gradebook td:first-child {
        text-align: left;
        width:8rem;
    }

    .Gradebook th:last-child, .Gradebook td:last-child {
        font-weight: bold;
    }
.mark-popup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    padding: 5px;
    z-index: 100;
    width: 200px;
    border-radius:5px;
    font-weight: normal;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Show the popup when hovering over the cell */
td:hover .mark-popup {
    display: block;
}