<h1>User info</h1>
<h2>Username - @ViewBag.Username</h2>
<h3>Permissions - @ViewBag.Permissions</h3>
<div class="col-md-4 mb-3">
    <a class="btn btn-primary btn-lg" asp-controller="User" asp-action="ChangePassword">Change Password</a>
</div>
