@{
    ViewData["Title"] = "Create Schedule";
}
@model List<Class>
<h1>Create Schedule</h1>

<form asp-controller="Schedule" asp-action="AddSchedule" method="post">

    @if (ViewBag.Errors != null)
    {
        <p>@ViewBag.Errors</p>
    }

    <div class="form-group">
        <label for="SemestarStart">Start of Semester:</label>
        <input type="date" id="SemestarStart" name="SemestarStart" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="SemestarEnd">End of Semester:</label>
        <input type="date" id="SemestarEnd" name="SemestarEnd" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="ClassName">Class:</label>
        <select id="ClassName" name="ClassId" class="form-control" required>
            @foreach (Class c in Model) 
            {
                <option value="@c.Code">@c.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Next</button>
</form>
